#table{
    max-height: 100vh;
    max-width: 100vw;
    color: black;
    
    align-items: center;
    margin-top: 10%;
}

#table th{
    background-color: transparent;
}

#table tr{
    background-color: #0076b671;
}

